.wrapper-section .container img{
    width: 100%;
    height: auto;
}
.box-modèle{
    width: 500px;
    height: 200px;
    position: relative;
    margin: 4em;
    z-index: 2;
}
.box-modèle .box-modele-item{
    text-transform: uppercase;
    color: var(--noir);
    opacity: .5;
    transition: var(--trans-300);
}
.box-modèle .margin{
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 100%;
    height: 100%;
    background-color: var(--main-color);
    opacity:40%;
    border: 2px dashed var(--gris1);
    transition: var(--trans-300);
    display: flex;
    justify-content: center;
}
.box-modèle .margin:hover{
    background-color: var(--second-color);
    opacity:50%;
    transition: var(--trans-300);
}
.box-modèle .margin:hover span{
    transition: var(--trans-300);
    opacity: 1;
}
.box-modèle .border{
    z-index: 2;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    background-color: transparent;
    border: 5px solid var(--gris2);
    width: calc(100% - 40px - 8px);
    height: calc(100% - 40px - 8px);
    transition: var(--trans-300);
}
.box-modèle .border:hover{
    border: 5px solid var(--second-color);
    transition: var(--trans-300);
}
.box-modèle .border-name{
    z-index: 5;
    position: absolute;
    top: 50px;
    left: 50px;
    background-color: var(--gris2);
    padding: 4px 8px;
    color: var(--blanc);
}
.box-modèle .padding{
    z-index: 3;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    background-color: var(--main-color);
    opacity: 70%;
    width: calc(100% - 50px);
    height: calc(100% - 50px);
    transition: var(--trans-300);
    display: flex;
    justify-content: center;
}
.box-modèle .padding:hover span{
    transition: var(--trans-300);
    opacity: 1;
}
.box-modèle .padding span{
}
.box-modèle .padding:hover{
    background-color: var(--second-color);
    opacity: 80%;
    transition: var(--trans-300);
}
.box-modèle .content{
    z-index: 4;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    background-color: var(--main-color);
    opacity: 95%;
    width: calc(100% - 300px);
    height: calc(100% - 150px);
    border: 2px dashed var(--gris2);
    transition: var(--trans-300);
    display: flex;
    align-items: center;
    justify-content: center;
}
.box-modèle .content:hover span{
    transition: var(--trans-300);
    opacity: 1;
}
.box-modèle .content:hover{
    background-color: var(--second-color);
    opacity: 100%;
    transition: var(--trans-300);
}
@media screen and (max-width: 767px){
    .box-modèle{
        width: 100%;
        margin: 2em 0;
    }
}
.grid-container{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}
.one {
    grid-column: 1 / 3;
    grid-row: 1;
    background-color: var(--main-color);
    opacity: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--blanc);
    z-index: 99;
}
@media screen and (max-width: 767px){
    .one {
        grid-column: 1 / 4;
        grid-row: 1;
    }
}
.two {
    grid-column: 2 / 4;
    grid-row: 1 / 3;
    background-color: var(--main-color);
    opacity: 80%;
    color: var(--blanc);
    display: flex;
    justify-content: center;
    align-items: center;
}
@media screen and (max-width: 767px){
    .two {
        grid-column: 1 / 4;
        grid-row: 2;
    }
}
.three {
    grid-column: 1;
    grid-row: 2 / 5;
    background-color: var(--main-color);
    opacity: 60%;
    color: var(--blanc);
    display: flex;
    justify-content: center;
    align-items: center;
}
@media screen and (max-width: 767px){
    .three {
        grid-column: 1 / 4;
        grid-row: 3;
    }
}
.four {
    grid-column: 3;
    grid-row: 3;
    background-color: var(--main-color);
    opacity: 40%;
    color: var(--blanc);
    display: flex;
    justify-content: center;
    align-items: center;
}
@media screen and (max-width: 767px){
    .four {
        grid-column: 1 / 4;
        grid-row: 4;
    }
}
.five {
    grid-column: 2;
    grid-row: 4;
    background-color: var(--main-color);
    opacity: 20%;
    color: var(--blanc);
    display: flex;
    justify-content: center;
    align-items: center;
}
@media screen and (max-width: 767px){
    .five {
        grid-column: 1 / 4;
        grid-row: 5;
    }
}
.six {
    grid-column: 3;
    grid-row: 4;
    background-color: var(--main-color);
    opacity: 100%;
    border: 4px solid var(--gris2);
    color: var(--blanc);
    display: flex;
    justify-content: center;
    align-items: center;
}
@media screen and (max-width: 767px){
    .six {
        grid-column: 1 / 4;
        grid-row: 6;
    }
}
.flex-axes{
    display: flex;
    justify-content: space-between;
    margin: 2em 0;
}
@media screen and (max-width: 767px){
    .flex-axes{
        flex-direction: column;
    }
}
.flex-axe-1, .flex-axe-2{
    flex-basis: 40%;
    background-color: var(--main-color);
    padding: 3em;
    border-radius: 40px;
    color: var(--blanc);
}