/*____________________________________ All ____________________________________*/
body{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}
/*____________________________________ Class ____________________________________*/
.link-hover{
    position: relative;
}
.link-hover:after, .link-hover:after{
    content: '';
    position: absolute;
    right: 0;
    bottom: -1px;
    left: 0;
    display: block;
    width: 0%;
    height: 1px;
    background-color: var(--blanc, white);
    border-radius: 100px;
}
.link-hover:after:hover, .link-hover:after:focus{
    width: 100%;
}
/*____________________________________ Main ____________________________________*/
main{
}
.wrapper-section{
    margin: 2em 16px;
}
.wrapper-section h1{
    font-size: 2em;
    color: var(--main-color);
    margin: 40px 0 40px 0;
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    position: relative;
    display: inline-block;
    z-index: 3;
}
.wrapper-section h1::after{
    content: "";
    position: absolute;
    bottom: -15px;
    left: 20px;
    display: block;
    height: 4px;
    background-color: var(--main-color);
    transition: var(--trans-300);
    animation: 30s ease-in-out 1s infinite alternate widthAugment;
    z-index: 1;
}
@keyframes widthAugment {
    0%{
        transform: translateX(30px);
        width: 100%;
    }
    25%{
        transform: translateX(50px);
        width: 80%;
    }
    50%{
        transform: translateX(40px);
        width: 75%;
    }
    75%{
        transform: translateX(65px);
        width: 85%;
    }
    100%{
        transform: translateX(80px);
        width: 80%;
    }
}
.wrapper-section h2{
    font-size: 1.5em;
    margin: 30px 0 30px 0;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
}
.wrapper-section h3{
    font-size: 1.25em;
    margin: 20px 0 20px 0;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
}
.wrapper-section h4{
    font-size: 1.10em;
    margin: 10px 0 10px 0;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
}
.wrapper-section ul{
    padding-left: 2em;
    margin: 5px 0;
    list-style: circle;
}
.wrapper-section li{

}
.wrapper-section p{
    margin-bottom: 10px;
}
.image-container{
    max-width: 500px;
}
@media screen and (max-width: 767px){
    .image-container{
        width: 100%;
    }
}
.image-container img{
    width: 100%;
    height: auto;
}
.listing{
    display: flex;
    justify-content: center;
    list-style: none;
    flex-wrap: wrap;
    padding-left: 0 !important;
}
.listing li{
    flex-basis: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--blanc);
    box-shadow: var(--shadow);
    padding: 1em;
    margin: 2em 2em;
    border-radius: 4px;
    transition: var(--trans-300);

}
.listing li:hover{
    transform: scale(1.1);
    transition: var(--trans-300);
}
.listing li a{
    background-color: var(--main-color);
    color: var(--blanc);
    padding: .5em 1em;
    border-radius: 4px;
    text-decoration: none;
    transition: var(--trans-300);
    border: 1px solid var(--main-color);
}
.listing li a:hover,.listing li a:focus{
    background-color: var(--blanc);
    color: var(--main-color);
    transition: var(--trans-300);
}
.listing li .wrapper-image{
    width: 100%;
    height: 200px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

}
.listing li .wrapper-image img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}
section#heading{
    background-color: var(--main-color);
    height: 400px;
}