/*____________________________________ All ____________________________________*/
body{
    font-family: 'Lora';
}
/*____________________________________ Class ____________________________________*/
.page{
    margin: 0 16px;
}
/*____________________________________ Main ____________________________________*/
main{
    margin: 2em 0;
}