:root {
    /*---- Colors ----*/
    --main-color: #00D494;
    --second-color: #1F6B9C;
    --blanc: #ffffff;
    --noir: #1C1C22;
    --gris1: #e7e7e8;
    --gris2: #555559;
    --bleu: #54a9ff;

    /*---- Width ----*/
    --main-max-width: 1080px;

    /*---- Transitions ----*/
    --trans-300: all ease-in-out 300ms;
    --trans-500: all ease-in-out 500ms;

    /*---- Shadow ----*/
    --shadow: 0px 1px 8px -4px rgba(28,28,34,0.75);
}