:root {
    /*---- Colors ----*/
    --main-color: #0c2461;
    --second-color: #0a3d62;
    --blanc: #ffffff;
    --noir: #1C1C22;
    --gris1: #e7e7e8;
    --gris2: #555559;

    /*---- Width ----*/
    --main-max-width: 1080px;

    /*---- Transitions ----*/
    --trans-300: all ease-in-out 300ms;
    --trans-500: all ease-in-out 500ms;
}